@model IEnumerable<Expences1.Models.UserTable>

@{
    ViewBag.Title = "User Details";
    ViewBag.Header = "Users";
}



<p>
   <button onclick="window.location.href='@Url.Action("Create", "Users")'" class="btn btn-success">Create New</button>            
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            <a href='@Url.Action("Edit", "Users", new { id = item.UserId})'>
                <i class="fa fa-edit" title="Edit"></i>
            </a>
            <a href='@Url.Action("Details", "Users", new { id = item.UserId})'>
                <i class="fa fa-info-circle" title="Details"></i>
            </a>
            <a href='@Url.Action("Delete", "Users", new { id = item.UserId})'>
                <i class="fa  fa-remove" title="Delete"></i>
            </a>
        </td>
    </tr>
}

</table>
